<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>


    <!-- Bootstrap CSS-->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="css/all.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">
    <link href="css/style.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="active">
                            <a href="#">
                                <i class="fas fa-home"></i></i>News Feed</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-briefcase"></i>Freelance/Job</a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fas fa-calendar-alt"></i>Events</a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fab fa-battle-net"></i>Battles</a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fas fa-envelope"></i>Messages</a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fas fa-users"></i>Network</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo text-center"><a href="index.html"><h2>Talent <span>Gig</span></h2></a></div>
            <div class="menu-sidebar__content js-scrollbar1">
                <div class="navbar-profile">
                    <div class="navbar-profile-img">
                        <img src="images/icon/user-icon.svg" alt="John Doe">
                    </div>
                    <h5>Rishika Bajaj</h5>
                    <h6>100  Gigs </h6>
                </div>
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active">
                            <a href="#">
                                <i class="fas fa-home"></i></i>News Feed</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-briefcase"></i>Freelance/Job</a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fas fa-calendar-alt"></i>Events</a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fab fa-battle-net"></i>Battles</a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fas fa-envelope"></i>Messages</a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fas fa-users"></i>Network</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">

                            <div class="header-button">
                                <div class="noti-wrap">
                                    <a href="#" class="my-portfolio">My Portfolio
                                    </a>
                                    <div class="noti__item js-item-menu">
                                        <img src="images/icon/bell.svg" alt="John Doe" />
                                        <!-- <span class="quantity">1</span> -->
                                        <div class="email-dropdown js-dropdown">
                                            <div class="email__title">
                                                <p>You have 3 New Emails</p>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-06.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, 3 min ago</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-05.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, Yesterday</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-04.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, April 12,,2018</span>
                                                </div>
                                            </div>
                                            <div class="email__footer">
                                                <a href="#">See all emails</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="images/icon/user-icon.svg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">Rishika</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">john doe</a>
                                                    </h5>
                                                    <span class="email">johndoe@example.com</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">

              <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">Registeration</button> -->

              <!-- The Modal -->

              <div class="modal fade" id="myModal2">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h2>Registeration</h2>


                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                      <div class="modal-popup">
                        <div class="user-modal">
                          <h2><img src="img/user-icon.svg">Rishika Bajaj</h2>

            <div class="registeration-div">

            <div class="left-box">
            <ul>
              <li><input type="email" name="" placeholder="Email ID"></li>
               <li><input type="number" name="" placeholder="Phone No."></li>
              <li><span>Upload File</span><input class="custom-file-input custom-file-input4" type="file"  name="myfile"></li>
            </ul>
            </div>

            <div class="right-img">
            <img src="img/right-img-popup.png">
            </div>
            <div class="registeration-btn">
            <button>REGISTER NOW</button>
            </div>
            </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap contact-user">
                                    <div class="contact-user-profile">
                                        <img src="images/icon/user-icon.svg" alt="John Doe">
                                        <p>To Orgainze Offline or Online Challenges </p>
                                    </div>
                                    <button class="au-btn au-btn-icon au-btn--white">
                                        Contact Us</button>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-9">
                                <div class="title-grid">
                                    <h3>Offline / Online Challenges</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="idol-grid">
                                    <div class="idol-header d-flex justify-content-between  align-items-center">
                                        <div class="idol-profile">
                                            <div class="idol-profile-img">
                                                <img src="images/icon/indian-idol-logo.svg">
                                            </div>
                                            <div class="idol-profile-text">
                                                <h4>Indian Idol</h4>
                                                <h6>Organized by : Rishika Bajaj </h6>
                                            </div>
                                        </div>
                                        <div class="offile-btn"><a href="">Offline<br/>Event</a>
                                        </div>
                                    </div>
                                    <div class="idol-middle">
                                        <div class="row align-items-center">
                                            <div class="col-md-8">
                                                <ul>
                                                    <li><b>Location : </b>Mayur Vihar, Delhi</li>
                                                    <li><b>Skills : </b>Could be able to sing English Songs</li>
                                                    <li><b>Prize Offered : </b>Rs. 10000</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <img src="images/icon/indian-idol-img.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="idol-bottom">
                                        <div class="row text-center">
                                            <div class="col-6">
                                                <a href="#">See Details
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a href="#" data-toggle="modal" data-target="#myModal2"><b>Register Now</b>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="idol-grid">
                                    <div class="idol-header d-flex justify-content-between  align-items-center">
                                        <div class="idol-profile">
                                            <div class="idol-profile-img">
                                                <img src="images/icon/indian-idol-logo.svg">
                                            </div>
                                            <div class="idol-profile-text">
                                                <h4>Indian Idol</h4>
                                                <h6>Organized by : Rishika Bajaj </h6>
                                            </div>
                                        </div>
                                        <div class="offile-btn"><a href="">Offline<br/>Event</a>
                                        </div>
                                    </div>
                                    <div class="idol-middle">
                                        <div class="row align-items-center">
                                            <div class="col-md-8">
                                                <ul>
                                                    <li><b>Location : </b>Mayur Vihar, Delhi</li>
                                                    <li><b>Skills : </b>Could be able to sing English Songs</li>
                                                    <li><b>Prize Offered : </b>Rs. 10000</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <img src="images/icon/indian-idol-img.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="idol-bottom">
                                        <div class="row text-center">
                                            <div class="col-6">
                                                <a href="#">See Details
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a href="#"><b>Register Now</b>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="idol-grid">
                                    <div class="idol-header d-flex justify-content-between  align-items-center">
                                        <div class="idol-profile">
                                            <div class="idol-profile-img">
                                                <img src="images/icon/indian-idol-logo.svg">
                                            </div>
                                            <div class="idol-profile-text">
                                                <h4>Indian Idol</h4>
                                                <h6>Organized by : Rishika Bajaj </h6>
                                            </div>
                                        </div>
                                        <div class="offile-btn"><a href="">Offline<br/>Event</a>
                                        </div>
                                    </div>
                                    <div class="idol-middle">
                                        <div class="row align-items-center">
                                            <div class="col-md-8">
                                                <ul>
                                                    <li><b>Location : </b>Mayur Vihar, Delhi</li>
                                                    <li><b>Skills : </b>Could be able to sing English Songs</li>
                                                    <li><b>Prize Offered : </b>Rs. 10000</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <img src="images/icon/indian-idol-img.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="idol-bottom">
                                        <div class="row text-center">
                                            <div class="col-6">
                                                <a href="#">See Details
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a href="#"><b>Register Now</b>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="idol-grid">
                                    <div class="idol-header d-flex justify-content-between  align-items-center">
                                        <div class="idol-profile">
                                            <div class="idol-profile-img">
                                                <img src="images/icon/indian-idol-logo.svg">
                                            </div>
                                            <div class="idol-profile-text">
                                                <h4>Indian Idol</h4>
                                                <h6>Organized by : Rishika Bajaj </h6>
                                            </div>
                                        </div>
                                        <div class="offile-btn"><a href="">Offline<br/>Event</a>
                                        </div>
                                    </div>
                                    <div class="idol-middle">
                                        <div class="row align-items-center">
                                            <div class="col-md-8">
                                                <ul>
                                                    <li><b>Location : </b>Mayur Vihar, Delhi</li>
                                                    <li><b>Skills : </b>Could be able to sing English Songs</li>
                                                    <li><b>Prize Offered : </b>Rs. 10000</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <img src="images/icon/indian-idol-img.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="idol-bottom">
                                        <div class="row text-center">
                                            <div class="col-6">
                                                <a href="#">See Details
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a href="#"><b>Register Now</b>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="idol-grid">
                                    <div class="idol-header d-flex justify-content-between  align-items-center">
                                        <div class="idol-profile">
                                            <div class="idol-profile-img">
                                                <img src="images/icon/indian-idol-logo.svg">
                                            </div>
                                            <div class="idol-profile-text">
                                                <h4>Indian Idol</h4>
                                                <h6>Organized by : Rishika Bajaj </h6>
                                            </div>
                                        </div>
                                        <div class="offile-btn"><a href="">Offline<br/>Event</a>
                                        </div>
                                    </div>
                                    <div class="idol-middle">
                                        <div class="row align-items-center">
                                            <div class="col-md-8">
                                                <ul>
                                                    <li><b>Location : </b>Mayur Vihar, Delhi</li>
                                                    <li><b>Skills : </b>Could be able to sing English Songs</li>
                                                    <li><b>Prize Offered : </b>Rs. 10000</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <img src="images/icon/indian-idol-img.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="idol-bottom">
                                        <div class="row text-center">
                                            <div class="col-6">
                                                <a href="#">See Details
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a href="#"><b>Register Now</b>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>

</body>

</html>
<!-- end document-->
