<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="au theme template">
  <meta name="author" content="Hau Nguyen">
  <meta name="keywords" content="au theme template">

  <!-- Title Page-->
  <title>Posts </title>


  <!-- Bootstrap CSS-->
  <link href="css/bootstrap.min.css" rel="stylesheet" media="all">
  <link href="css/all.css" rel="stylesheet" media="all">

  <!-- Vendor CSS-->
  <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">

  <!-- Main CSS-->
  <link href="css/theme.css" rel="stylesheet" media="all">
  <link href="css/style.css" rel="stylesheet" media="all">

  <link href="css/responsive.css" rel="stylesheet">

</head>

<body>
  <div class="page-wrapper">



    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
      <div class="header-mobile__bar">
        <div class="container-fluid">
          <div class="header-mobile-inner">
            <a class="logo" href="home">
              <img src="images/Logo.png" alt="CoolAdmin" />
            </a>
            <button class="hamburger  navbar-toggler hamburger--slider" type="button">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <nav class="navbar-mobile">

        <div class="container-fluid">

          <ul class="navbar-mobile__list list-unstyled">
            <li>
              <a href="connections.html">
                <i class="fas fa-plus"></i>Connections</a>
            </li>
            <li>
              <a href="battles.html">
                <i class="fab fa-battle-net"></i>Events</a>
            </li>
            <li>
              <a href="">
                <i class="fas fa-envelope"></i>Refer and Earn</a>
            </li>


            <li class="log-out">
              <a href="">
                <i class="fas fa-sign-out-alt"></i>Log Out</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <div class="modal fade" id="myModal3">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h2></h2>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="modal-popup">

              <div class="refel-top">
                <div class="left-img">
                  <img src="img/refel-friends.png">
                </div>
                <div class="right-text">
                  <h3>Refer Friends and Earn <span>Upto 10 Badges</span></h3>
                </div>
              </div>

              <h2>Refer Your Friend and Win 5 Badges when they sign up.</h2>

              <div class="copy-link">
                <input type="text" name="sendreferral"><button>Send Referral</button>
              </div>

              <div class="social-media">
                <ul>
                  <li>or Share via</li>
                  <li> <a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li> <a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
      <div class="logo text-center"><a href="home"><img src="images/Logo.png"></a></div>

      <div class="menu-sidebar__content">


        <div class="navbar-profile">
          <div class="modal fade" id="myModal4">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h2>Event Details</h2>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body body-battle">
                  <div class="modal-popup">


                    <div class="battle-betails">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#home">Instructions</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#menu1">Leaderboard</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#menu2">Prizes</a>
                        </li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div id="home" class="container tab-pane active">
                          <div class="instuction-div"><br><br>

                            <textarea name="comment" form="usrform" placeholder="Instructions :"></textarea>

                            <textarea name="comment" form="usrform" placeholder="Terms and Conditions"></textarea>

                            <div class="betle-regtrationbtn">
                              <button>Register Now</button>
                            </div>
                          </div>
                        </div>
                        <div id="menu1" class="container tab-pane fade">
                          <div class="instuction-div">

                            <div class="leaderboard-box">

                              <div class="leader-box-left">
                                <ul>
                                  <li><img src="img/leaderboard-one.png"></li>
                                  <li><span>Sonu Nigam</span><img class=" madel" src="img/one.png"></li>
                                </ul>
                                <ul>
                                  <li><img src="img/leaderboard-tow.png"></li>
                                  <li><span>Sonu Nigam</span><img class=" madel" src="img/tow.png"></li>
                                </ul>
                                <ul>
                                  <li><img src="img/leaderboard-three.png"></li>
                                  <li><span>Taylor Swift</span><img class=" madel" src="img/three.png"></li>
                                </ul>
                              </div>

                              <div class="lederborader-right">
                                <table>
                                  <tr>
                                    <th>Ranks</th>
                                    <th>Name</th>
                                    <th>Score</th>
                                  </tr>

                                  <tr>
                                    <td>1</td>
                                    <td>Aces Group</td>
                                    <td>300/500</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>Aces Group</td>
                                    <td>300/500</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>Aces Group</td>
                                    <td>300/500</td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>Aces Group</td>
                                    <td>300/500</td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>Aces Group</td>
                                    <td>300/500</td>
                                  </tr>
                                  <tr>
                                    <td>6</td>
                                    <td>Aces Group</td>
                                    <td>300/500</td>
                                  </tr>
                                </table>
                              </div>

                            </div>

                            <div class="betle-regtrationbtn">
                              <button>Register Now</button>
                            </div>
                          </div>
                        </div>
                        <div id="menu2" class="container tab-pane fade"><br>
                          <div class="instuction-div">

                            <div class="pricebox">
                              <ul>
                                <li><img class=" madel" src="img/one.png"></li>
                                <li><span>First Prize</span>Rs. 10000</li>
                              </ul>

                              <ul>
                                <li><img class=" madel" src="img/tow.png"></li>
                                <li><span>Second Prize</span>Rs. 7000</li>
                              </ul>

                              <ul>
                                <li><img class=" madel" src="img/three.png"></li>
                                <li><span>Third Prize</span>Rs. 3000</li>
                              </ul>
                            </div>

                            <div class="betle-regtrationbtn">
                              <button>Register Now</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="navbar-profile-img">
            <img src="images/Mary_Jones.png" alt="Aces Group">
          </div>
          <br />
          <h5>Aces Group</h5>
          <a class="edit-btn" href="profile">Edit</a>
        </div>
        <nav class="navbar-sidebar">

          <ul class="list-unstyled navbar__list">


            <li>
              <a href="/connections">

                <i class="fas fa-plus"></i>Connections</a>
            </li>

            <li>


              <a href="/battles">
                <i class="fab fa-battle-net"></i>Events</a>
            </li>
            <li>
              <a href="" data-toggle="modal" data-target="#myModal3">
                <i class="fas fa-users"></i>Refer and Earn</a>
            </li>


            <li class="log-out">
              <a href="">
                <i class="fas fa-sign-out-alt"></i>Log Out</a>
            </li>


          </ul>

        </nav>
      </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
      <!-- HEADER DESKTOP-->
      <header class="header-desktop">
        <div class="section__content section__content--p30">
          <div class="container-fluid">
            <div class="header-wrap">

              <div class="header-button">


                <div class="account-wrap">
                  <div class="account-item clearfix js-item-menu">
                    <div class="image">
                      <img src="images/Mary_Jones.png" alt="Aces Group" />
                    </div>
                    <div class="content">
                      <a class="js-acc-btn" href="#">Aces</a>
                    </div>
                    <div class="account-dropdown js-dropdown">
                      <div class="info clearfix">
                        <div class="image">
                          <a href="#">
                            <img src="images/Mary_Jones.png" alt="Aces Group" />
                          </a>
                        </div>
                        <div class="content">
                          <h5 class="name">
                            <a href="#">Aces Group</a>
                          </h5>
                          <span class="email">acesgroup@example.com</span>
                        </div>
                      </div>
                      <div class="account-dropdown__body">
                        <div class="account-dropdown__item">
                          <a href="profile.html">
                            <i class="zmdi zmdi-account"></i>Profile</a>
                        </div>
                      </div>
                      <div class="account-dropdown__footer">
                        <a href="#">
                          <i class="zmdi zmdi-power"></i>Logout</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </header>
      <div class="modal fade" id="myModal5">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h2>Events</h2>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body body-battle">
              <div class="modal-popup">
                <div class="battle-betails">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        data-toggle="tab"
                        href="#home"
                        >Instructions</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#menu1"
                        >Details</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#menu2"
                        >Prizes</a
                      >
                    </li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div id="home" class="container tab-pane active">
                      <div class="instuction-div">
                        <br /><br />

                        <textarea
                          name="comment"
                          form="usrform"
                          placeholder="Instructions :"
                        disabled></textarea>

                        <textarea
                          name="comment"
                          form="usrform"
                          placeholder="Terms and Conditions"
                        disabled></textarea>

                        <div class="betle-regtrationbtn">
                          <button>Register Now</button>
                        </div>
                      </div>
                    </div>
                    <div id="menu1" class="container tab-pane fade">
                      <div class="instuction-div">
                        <br /><br />

                        <textarea
                          name="comment"
                          form="usrform"
                          placeholder="Timings and Venue :"
                        disabled></textarea>


                        <textarea
                          name="comment"
                          form="usrform"
                          placeholder="Contact :"
                        disabled></textarea>

                        <div class="betle-regtrationbtn">
                          <button>Register Now</button>
                        </div>
                      </div>
                    </div>
                    <div id="menu2" class="container tab-pane fade">
                      <br />
                      <div class="instuction-div">
                        <div class="pricebox">
                          <ul>
                            <li><img class="madel" src="img/one.png" /></li>
                            <li><span>First Prize</span>Rs. 10000</li>
                          </ul>

                          <ul>
                            <li><img class="madel" src="img/tow.png" /></li>
                            <li><span>Second Prize</span>Rs. 7000</li>
                          </ul>

                          <ul>
                            <li><img class="madel" src="img/three.png" /></li>
                            <li><span>Third Prize</span>Rs. 3000</li>
                          </ul>
                        </div>

                        <div class="betle-regtrationbtn">
                          <button>Register Now</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h2>Registration</h2>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <div class="modal-popup">
                <div class="user-modal">
                  

                  <div class="registeration-div">
                    <form action="/battles" method="POST" name="myForm" encType="multipart/form-data">
                      <fieldset>
                        <!-- <label>Email ID</label>
                        <input type ="email" id = 'email' name="email" required>
                        <br><br> -->
                        <label>Phone</label>
                        <input type="tel" id = "phone" name="phone" required>
                        <br><br>
                        <label>File</label>
                        <input type="file" id = "file" name="img" multiple required>
                        <br><br>
                        <button type ="submit">Register Now</button>
                      </fieldset>
                    </form>
                    <div class="right-img">
                      <img src="img/right-img-popup.png" />
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- HEADER DESKTOP-->

      <!-- MAIN CONTENT-->
      <div class="main-content">


        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" id=btnposition data-target="#myModal">Create Post</button> -->

        <!-- The Modal -->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                <h2 class=colorblue>Create a Post</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                <div class="modal-popup">
                  <div class="user-modal">
                    <form action="/create-post" method="POST" name="myForm" encType="multipart/form-data">

                      <!-- <div class="form-group">
                            <input type="email" name = "email" placeholder="Email Id" />
                          </div> -->
                      <div class="form-group">
                        <input type="text" name="description" placeholder="Write something about this Post" />
                      </div>
                      <div class="form-group">
                        <input type="text" name="tags" placeholder="Tags" />
                      </div>
                      <div class="footer-post">
                        <div class="file-uploads">
                          <input class="custom-file-input" type="file" id="img" name="img" multiple accept="image/*">
                          <input class="custom-file-input custom-file-input2" type="file" multiple name="img"
                            accept="video/*">
                          <input class="custom-file-input custom-file-input3" type="file" multiple id="myfile"
                            name="img">
                        </div>
                        <button type="submit">Post</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="section__content section__content--p30">
          <div class="container-fluid">
            <div class="row-bettle">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-left-feed">


                    <div class="teleng-left-sec">
                      <h2><img src="img/user-icon.svg" data-toggle="modal" data-target="#myModal">Create Posts</h2>
                      </img>

                      <!--
    <div class="file-uploads">
                  <input class="custom-file-input" type="file" id="img" name="img" accept="image/*">
                  <input class="custom-file-input custom-file-input2" type="file" accept="video/*">
                  <input class="custom-file-input custom-file-input3" type="file" id="myfile" name="myfile">
    </div> -->
                    </div>

                    <div class="share-socialmedia">
                      <h3> Aces shared a post </h3>

                      <div class="user-name-profile">
                        <img src="img/user-icon.svg">
                        <p>Group</p>
                      </div>

                      <p class="share-text">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>
                      </p>

                      <p>
                        <img src="images/co.jpg">
                      </p>

                      <div class="comment-share">
                        <table>
                          <tr>
                            <th>42 Likes</th>
                            <th>112 Comments</th>
                            <th>11 Shares</th>
                          </tr>
                          <tr>
                            <td>Like </td>
                            <td>Comment </td>
                            <td>Share </td>
                          </tr>
                        </table>
                      </div>

                    </div>





                  </div>
                </div>

                <div class="col-md-6">
                  <div class="col-right-feed">

                    <div class="feautred-talent">
                      <h3>Connections that you might be interested in</h3>
                      <ul>
                        <li><img src="images/user.png"></li>
                        <i class="fas fa-plus"></i></i>Add</a>
                        <li><img src="images/user.png"></li>
                        <i class="fas fa-plus"></i></i>Add</a>
                        <li><img src="images/user.png"></li>
                        <i class="fas fa-plus"></i></i>Add</a>
                        <br><br>
                        <a href="/connections">View More</a>
                      </ul>
                    </div>


                    <div class="ongoing-box">
                      <!-- <h3>Add Connections</h3> -->

                      <div class="battle-col-box">
                        <div class="solo-boxs">
                          <div class="sing-solo-top">
                            <div class="solo-img">
                              <img src="images/plant tree.png" />
                            </div>
                            <div class="solo-text">
                              <p><span>Registered </span>1735</p>
                              <p><span>Ends on </span>20 April,2020</p>
                            </div>
                          </div>
                          <div class="solo-round-text">
                            <p><span>Hosted By:</span>Eco Warriors</p>
                            <p><span>Timing </span>30 June, 12 noon - 4:00 pm</p>
                          </div>

                          <div class="solo-ftr-btn">

                            <a
                            href="#"
                            data-toggle="modal"
                            data-target="#myModal5"
                            >See Details</a
                          ><a
                          href="#"
                          data-toggle="modal"
                          data-target="#myModal2"
                          ><b>Register Now</b></a
                        >
                          </div>
                        </div>

                        <div class="solo-boxs">
                          <div class="sing-solo-top">
                            <div class="solo-img">
                              <img src="images/cleanup.png" />
                            </div>
                            <div class="solo-text">
                              <p><span>Registered </span>1735</p>
                              <p><span>Ends on </span>20 April,2020</p>
                            </div>
                          </div>
                          <div class="solo-round-text">
                            <p><span>Hosted By:</span>Eco Warriors</p>
                            <p><span>Timing </span>30 June, 12 noon - 4:00 pm</p>
                          </div>

                          <div class="solo-ftr-btn">

                            <a
                            href="#"
                            data-toggle="modal"
                            data-target="#myModal5"
                            >See Details</a
                          ><a
                          href="#"
                          data-toggle="modal"
                          data-target="#myModal2"
                          ><b>Register Now</b></a
                        >
                          </div>
                        </div>
                        <h2><a href="/battles" class="more-battles">More Events</a></h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END MAIN CONTENT-->
      <!-- END PAGE CONTAINER-->
    </div>

  </div>



  <div class="message-dropdow">
    <div class="search-message">
      <h3>Messaging</h3>

      <p><img src="img/edit.png">
        <img src="img/more.png">
      </p>

    </div>
    <div class="email__item">
      <div class="message-item">
        <h5><span class="name">Aces Group</span> <span class="time">110:59 PM</span></h5>
      </div>
      <div class="content">
        I am currently working in a big salesforce firm. i wish you could give me one more chance.
      </div>
    </div>
    <div class="email__item">
      <div class="message-item">
        <h5><span class="name">Aces Group</span> <span class="time">110:59 PM</span></h5>
      </div>
      <div class="content">
        I am currently working in a big salesforce firm. i wish you could give me one more chance.
      </div>
    </div>
    <div class="email__item">
      <div class="message-item">
        <h5><span class="name">Aces Group</span> <span class="time">110:59 PM</span></h5>
      </div>
      <div class="content">
        I am currently working in a big salesforce firm. i wish you could give me one more chance.
      </div>
    </div>
    <div class="email__item">
      <div class="message-item">
        <h5><span class="name">Aces Group</span> <span class="time">110:59 PM</span></h5>
      </div>
      <div class="content">
        I am currently working in a big salesforce firm. i wish you could give me one more chance.
      </div>
    </div>
    <div class="email__item">
      <div class="message-item">
        <h5><span class="name">Aces Group</span> <span class="time">110:59 PM</span></h5>
      </div>
      <div class="content">
        I am currently working in a big salesforce firm. i wish you could give me one more chance.
      </div>
    </div>
    <div class="email__item">
      <div class="message-item">
        <h5><span class="name">Aces Group</span> <span class="time">110:59 PM</span></h5>
      </div>
      <div class="content">
        I am currently working in a big salesforce firm. i wish you could give me one more chance.
      </div>
    </div>
    <div class="email__item">
      <div class="message-item">
        <h5><span class="name">Aces Group</span> <span class="time">110:59 PM</span></h5>
      </div>
      <div class="content">
        I am currently working in a big salesforce firm. i wish you could give me one more chance.
      </div>
    </div>

    <div class="email__item">
      <div class="message-item">
        <h5><span class="name">Aces Group</span> <span class="time">110:59 PM</span></h5>
      </div>
      <div class="content">
        I am currently working in a big salesforce firm. i wish you could give me one more chance.
      </div>
    </div>

  </div>



  <div class="message-chat-box">

    <div class="chat-box-header">

      <div class="message-header">
        <h3>Aces Group</h3>
        <p>
          <a href="#"><i class="fas fa-cog"></i></a>
          <a class="close-btn" href="#"><i class="far fa-times-circle"></i></a>
        </p>
      </div>

      <div class="chatt-toggle">
        <div class="chat-with-reply">
          <div class="chats-per">
            <div class="perimg">
              <img src="img/user-icon.svg">
            </div>

            <div class="chats-text">
              <h2><span>Aces Group </span> <span class="time">11:47 PM</span></h2>
              <p>Hi, I want to know if I can be a singer in future?</p>
            </div>
          </div>

          <div class="reply-chat">
            <div class="reply-text">
              <h2><span class="time">11:47 PM</span></h2>
              <p>Hi, I want to know if I can be a singer in future?</p>
            </div>
          </div>

        </div>


        <div class="chat-with-reply">
          <div class="chats-per">
            <div class="perimg">
              <img src="img/user-icon.svg">
            </div>

            <div class="chats-text">
              <h2><span>Aces Group </span> <span class="time">11:47 PM</span></h2>
              <p>Hi, I want to know if I can be a singer in future?</p>
            </div>
          </div>

          <div class="reply-chat">
            <div class="reply-text">
              <h2><span class="time">11:47 PM</span></h2>
              <p>Hi, I want to know if I can be a singer in future?</p>
            </div>
          </div>
        </div>


        <div class="button-fixed-reply">
          <input type="text" name="" placeholder="Type a Message">
          <a class="send" href="#"><img src="img/chat-img.png"></a>
        </div>

      </div>
    </div>
  </div>


  <!-- Jquery JS-->
  <script src="js/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap JS-->
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- Vendor JS       -->
  <script src="vendor/slick/slick.min.js">
  </script>
  <script src="vendor/wow/wow.min.js"></script>
  <script src="vendor/animsition/animsition.min.js"></script>
  <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
  </script>
  <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
  <script src="vendor/counter-up/jquery.counterup.min.js">
  </script>
  <script src="vendor/circle-progress/circle-progress.min.js"></script>
  <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="vendor/chartjs/Chart.bundle.min.js"></script>
  <script src="vendor/select2/select2.min.js">    </script>

  <!-- Main JS-->
  <script src="js/main.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $(".message-button").click(function () {
        $(".message-dropdow").toggleClass("active-dropdown");
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $(".close-btn").click(function () {
        $(".message-chat-box").hide();
      });
      $(".email__item").click(function () {
        $(".message-chat-box").show();
      });
    });
  </script>

  <script>
    $(document).ready(function () {
      $(".message-header").click(function () {
        $(".chatt-toggle").toggle();
      });
    });
  </script>

</body>

</html>
<!-- end document-->