<!DOCTYPE html>
<html lang="en">
<head>
  <title>Eco Warrior</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
</head>
<body>

<header class="header">
  <div class="container-fluid">
<nav class="navbar navbar-expand-lg">
  <div class="col-lg-10">
  <a class="navbar-brand" href="/index"><img src="images/Logo.png" width="80" height="40"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span></span>-
     <span></span>
      <span></span>
  </button>
</div>

<div class="col-lg-10">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

<button onclick="location.href='/log-in';"  class="login-btn">Log In/Sign Up</button>
</div>
</nav>
</div>
</header>

<div class="home-banner">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6 home-slide-text">
        <h1>Connecting You with Environment</h1>
        <p>We provide you with a platform to stay connected to the environment and help it flourish. Work with us and be a part of the ultimate change. Everyone is a part of this beautiful planet. Connect with the World and make an eco friendly community. </p>
        <a class="btn" href="/signup"> Get Started</a>
      </div>
      <div class="col-lg-6 home-slide-img">
        <img src="images/home_slide.png">
      </div>
    </div>
  </div>
</div>
<section class="featured-talents">
  <div class="container-fluid">
    <div class="section-heading">
      <h2>ECO STARS</h2>
    </div>
    <div class="row featured-talents-grid">
      <div class="col">
        <div class="featured-inner">
          <div class="featured-img">
            <img src="images/eco_stars_1.jpg">
          </div>
          <div class="row align-items-center">
            <div class="col-7 featured-inner-left">
              <a href="#"><img src="img/user-icon.svg"><span>Aces Group</span></a>
            </div>
            <div class="col-5 featured-inner-right">
              <a href="#">Planting Trees</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="featured-inner">
          <div class="featured-img">
            <img src="images/eco_stars_2.jpg">
          </div>
          <div class="row align-items-center">
            <div class="col-7 featured-inner-left">
              <a href="#"><img src="img/user-icon.svg"><span>Aces Group</span></a>
            </div>
            <div class="col-5 featured-inner-right">
              <a href="#">Cleanliness Drive</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="featured-inner">
          <div class="featured-img">
            <img src="images/eco_stars_3.jpg">
          </div>
          <div class="row align-items-center">
            <div class="col-7 featured-inner-left">
              <a href="#"><img src="img/user-icon.svg"><span>Aces Group</span></a>
            </div>
            <div class="col-5 featured-inner-right">
              <a href="#">Zero Waste</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="featured-inner">
          <div class="featured-img">
            <img src="images/eco_stars_4.jpg">
          </div>
          <div class="row align-items-center">
            <div class="col-7 featured-inner-left">
              <a href="#"><img src="img/user-icon.svg"><span>Aces Group</span></a>
            </div>
            <div class="col-5 featured-inner-right">
              <a href="#">Cleanup</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="featured-inner">
          <div class="featured-img">
            <img src="images/eco_stars_5.jpg">
          </div>
          <div class="row align-items-center">
            <div class="col-7 featured-inner-left">
              <a href="#"><img src="img/user-icon.svg"><span>Aces Group</span></a>
            </div>
            <div class="col-5 featured-inner-right">
              <a href="#">Beach Cleanup</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="featured-inner">
          <div class="featured-img">
            <img src="images/eco_stars_1.jpg">
          </div>
          <div class="row align-items-center">
            <div class="col-7 featured-inner-left">
              <a href="#"><img src="img/user-icon.svg"><span>Aces Group</span></a>
            </div>
            <div class="col-5 featured-inner-right">
              <a href="#">Planting Trees</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="featured-inner">
          <div class="featured-img">
            <img src="images/eco_stars_2.jpg">
          </div>
          <div class="row align-items-center">
            <div class="col-7 featured-inner-left">
              <a href="#"><img src="img/user-icon.svg"><span>Aces Group</span></a>
            </div>
            <div class="col-5 featured-inner-right">
              <a href="#">Cleanliness Drive</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="featured-inner">
          <div class="featured-img">
            <img src="images/eco_stars_3.jpg">
          </div>
          <div class="row align-items-center">
            <div class="col-7 featured-inner-left">
              <a href="#"><img src="img/user-icon.svg"><span>Aces Group</span></a>
            </div>
            <div class="col-5 featured-inner-right">
              <a href="#">Zero Waste</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="featured-inner">
          <div class="featured-img">
            <img src="images/eco_stars_4.jpg">
          </div>
          <div class="row align-items-center">
            <div class="col-7 featured-inner-left">
              <a href="#"><img src="img/user-icon.svg"><span>Aces Group</span></a>
            </div>
            <div class="col-5 featured-inner-right">
              <a href="#">Cleanup</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="featured-inner">
          <div class="featured-img">
            <img src="images/eco_stars_5.jpg">
          </div>
          <div class="row align-items-center">
            <div class="col-7 featured-inner-left">
              <a href="#"><img src="img/user-icon.svg"><span>Aces Group</span></a>
            </div>
            <div class="col-5 featured-inner-right">
              <a href="#">Beach Cleanup</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- -------COMPETE and WIN REWARDS----- -->
<section class="compete-rewards">
  <div class="container-fluid">
    <div class="section-heading">
      <h2>PARTICIPATE and WIN REWARDS</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="compete-rewards-inner">
          <div class="compete-rewards-img">
            <img src="img/one-face-off.jpg">
          </div>
          <div class="compete-rewards-text">
          <h5>Individual Challenges</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="compete-rewards-inner">
          <div class="compete-rewards-img">
            <img src="img/team-wars.jpg">
          </div>
          <div class="compete-rewards-text">
          <h5>Team Wars</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="compete-rewards-inner">
          <div class="compete-rewards-img">
            <img src="img/event-participation.jpg">
          </div>
          <div class="compete-rewards-text">
          <h5>Event Participation</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ----COMPETE and WIN REWARDS Close-------- -->
<!-- -----footer----- -->
<div class="footer-main">
  <div class="container-fluid">
    <div class="row align-items-end">
      <div class="col-md-7">
        <p>Copyright © 2019<br/>
All Rights Reserved. All other trademarks &<br/>
copyrights are the property of their respective holders.</p>
      </div>
      <div class="col-md-5 text-right">
        <p><a href="">Terms & Conditions</a> | <a href="#">Privacy Policy </a><br/>
Desclaimer: Talent Junction dose not take responsibility for an inappropriate content upload on its site by the. The entire responsibility and consequences thereof shall rest with the user for the entire information uploaded by him / her.<br/>
Leagal action would be initiated against such defaultrs.</p>
      </div>
    </div>
  </div>
</div>
<!-- -----footer-close---- -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript">$(document).ready(function() {
 // executes when HTML-Document is loaded and DOM is ready

// breakpoint and up
$(window).resize(function(){
  if ($(window).width() >= 980){

      // when you hover a toggle show its dropdown menu
      $(".navbar .dropdown-toggle").hover(function () {
         $(this).parent().toggleClass("show");
         $(this).parent().find(".dropdown-menu").toggleClass("show");
       });

        // hide the menu when the mouse leaves the dropdown
      $( ".navbar .dropdown-menu" ).mouseleave(function() {
        $(this).removeClass("show");
      });

    // do something here
  }
});



// document ready
});</script>
</body>
</html>
