<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eco Warrior</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
  </head>
  <body>
    <div class="sign-up log-in-from">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 sign-up-form">
          <h2>Enter The GREEN WORLD</h2></a>

            <div class="login-tabs">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab">Log In</a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div id="home" class="container tab-pane active">
                  <div class="lgoin-screen">
                    <form method="POST" action="/log-in">
                      <div class="form-group">
                        <input type="text" name="email" placeholder="Email ID" />
                      </div>
                      <div class="form-group">
                        <input type="text" name="password" placeholder="Password" />
                      </div>

                      <button type="submit">LOG IN</button>

                      <p>New on Eco Warrior? <a href="/signup">SIGN UP</a></p>
                    </form>
                  </div>
                </div>
                <div id="menu1" class="container tab-pane fade">
                  <div class="lgoin-screen">
                    <form>
                      <div class="form-group">
                        <input type="text" placeholder="Email ID" />
                      </div>
                      <div class="form-group">
                        <input type="text" placeholder="Password" />
                      </div>

                      <button type="submit">LOG IN</button>
                      <a class="forget-pass" href="#">Forgot Password?</a>
                      <p>New on Eco Warrior? <a href="/signup">SIGN UP</a></p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 sign-up-right">
            <div class="logo">
              <a href="/index">
                <h2>Eco <span>Warrior</span></h2></a
              >
            </div>
            <div class="sign-right-img">
              <img src="images/co.jpg" />
            </div>
            <ul>
              <li>YOU ARE EXTRAORDINARY</li>
                <li>YOU CAN BRING A CHANGE</li>
                <li>SAVE EARTH WITH US</li>
                <li>MAKE EVERYTHING ENVIRONMENT FRIENDLY</li>
                <li>WE PROMISE TO BE WITH YOU AT EVERY STEP</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
