<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Modal</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
  </head>

  <body>
    <!-- Button to Open the Modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#myModal"
    >
      Create Post
    </button>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h2>Create a Post</h2>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="modal-popup">
              <div class="user-modal">
                <h2><img src="img/user-icon.svg" />Aces Group</h2>
                <div class="text-feald">
                  <textarea
                    name="comment"
                    placeholder="Write something about this Post"
                  ></textarea>
                </div>
                <p>
                  <span>Tags:</span>Enter relevant tags to your post to get
                  identified by our hirers
                </p>
                <div class="footer-post">
                  <div class="file-uploads">
                    <input
                      class="custom-file-input"
                      type="file"
                      id="img"
                      name="img"
                      accept="image/*"
                    />
                    <input
                      class="custom-file-input custom-file-input2"
                      type="file"
                      accept="video/*"
                    />
                    <input
                      class="custom-file-input custom-file-input3"
                      type="file"
                      id="myfile"
                      name="myfile"
                    />
                  </div>
                  <button>Post</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-------------2nd----------------------->
    <!-- Button to Open the Modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#myModal2"
    >
      Registeration
    </button>
    <!-- The Modal -->
    <div class="modal fade" id="myModal2">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h2>Registeration</h2>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="modal-popup">
              <div class="user-modal">
                <h2><img src="img/user-icon.svg" />Aces Group</h2>

                <div class="registeration-div">
                  <div class="left-box">
                    <ul>
                      <li>
                        <input type="email" name="" placeholder="Email ID" />
                      </li>
                      <li>
                        <input type="number" name="" placeholder="Phone No." />
                      </li>
                      <li>
                        <span>Upload File</span
                        ><input
                          class="custom-file-input custom-file-input4"
                          type="file"
                          name="myfile"
                        />
                      </li>
                    </ul>
                  </div>

                  <div class="right-img">
                    <img src="img/right-img-popup.png" />
                  </div>
                  <div class="registeration-btn">
                    <button>REGISTER NOW</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-------------2nd close----------------->

    <!-------------3nd----------------------->
    <!-- Button to Open the Modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#myModal3"
    >
      Refer friends
    </button>
    <!-- The Modal -->
    <div class="modal fade" id="myModal3">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h2></h2>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="modal-popup">
              <div class="refel-top">
                <div class="left-img">
                  <img src="img/refel-friends.png" />
                </div>
                <div class="right-text">
                  <h3>Refer Friends and Earn <span>Upto 1000 Gigs</span></h3>
                </div>
              </div>

              <h2>Refer Your Friend and Win 10 Gigs when they sign up.</h2>

              <div class="copy-link">
                <input type="text" name="" /><button>Copy Link</button>
              </div>

              <div class="social-media">
                <ul>
                  <li>or Share via</li>
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-------------3nd close----------------->

    <!-------------4---------------------->
    <!-- Button to Open the Modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#myModal4"
    >
      Event Details
    </button>
    <!-- The Modal -->
    <div class="modal fade" id="myModal4">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h2>Event Details</h2>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body body-battle">
            <div class="modal-popup">
              <div class="battle-betails">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home"
                      >Instructions</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1"
                      >Leaderboard</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2"
                      >Prizes</a
                    >
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div id="home" class="container tab-pane active">
                    <div class="instuction-div">
                      <br /><br />

                      <textarea
                        name="comment"
                        form="usrform"
                        placeholder="Instructions :"
                      ></textarea>

                      <textarea
                        name="comment"
                        form="usrform"
                        placeholder="Terms and Conditions"
                      ></textarea>

                      <div class="betle-regtrationbtn">
                        <button>Register Now</button>
                      </div>
                    </div>
                  </div>
                  <div id="menu1" class="container tab-pane fade">
                    <div class="instuction-div">
                      <div class="leaderboard-box">
                        <div class="leader-box-left">
                          <ul>
                            <li><img src="img/leaderboard-one.png" /></li>
                            <li>
                              <span>Sonu Nigam</span
                              ><img class="madel" src="img/one.png" />
                            </li>
                          </ul>
                          <ul>
                            <li><img src="img/leaderboard-tow.png" /></li>
                            <li>
                              <span>Sonu Nigam</span
                              ><img class="madel" src="img/tow.png" />
                            </li>
                          </ul>
                          <ul>
                            <li><img src="img/leaderboard-three.png" /></li>
                            <li>
                              <span>Taylor Swift</span
                              ><img class="madel" src="img/three.png" />
                            </li>
                          </ul>
                        </div>

                        <div class="lederborader-right">
                          <table>
                            <tr>
                              <th>Ranks</th>
                              <th>Name</th>
                              <th>Score</th>
                            </tr>

                            <tr>
                              <td>1</td>
                              <td>Aces Group</td>
                              <td>300/500</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Aces Group</td>
                              <td>300/500</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Aces Group</td>
                              <td>300/500</td>
                            </tr>
                            <tr>
                              <td>4</td>
                              <td>Aces Group</td>
                              <td>300/500</td>
                            </tr>
                            <tr>
                              <td>5</td>
                              <td>Aces Group</td>
                              <td>300/500</td>
                            </tr>
                            <tr>
                              <td>6</td>
                              <td>Aces Group</td>
                              <td>300/500</td>
                            </tr>
                          </table>
                        </div>
                      </div>

                      <div class="betle-regtrationbtn">
                        <button>Register Now</button>
                      </div>
                    </div>
                  </div>
                  <div id="menu2" class="container tab-pane fade">
                    <br />
                    <div class="instuction-div">
                      <div class="pricebox">
                        <ul>
                          <li><img class="madel" src="img/one.png" /></li>
                          <li><span>First Prize</span>Rs. 10000</li>
                        </ul>

                        <ul>
                          <li><img class="madel" src="img/tow.png" /></li>
                          <li><span>Second Prize</span>Rs. 7000</li>
                        </ul>

                        <ul>
                          <li><img class="madel" src="img/three.png" /></li>
                          <li><span>Third Prize</span>Rs. 3000</li>
                        </ul>
                      </div>

                      <div class="betle-regtrationbtn">
                        <button>Register Now</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-------------4 close----------------->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
