<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eco Warrior</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
  </head>
  <body>
    <body>
      <div class="sign-up log-in-from">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 sign-up-form">
              <h2>Enter The GREEN WORLD</h2>
              <h2> User is not authenticated. Please check your email and verify the link for successful login.</h2>
            </div>
            <div class="col-lg-4 sign-up-right">
              <div class="logo">
                <a href="/index"><h2>Eco <span>Warrior</span></h2></a>
              </div>
              <div class="sign-right-img">
                <img src="images/co.jpg" />
              </div>
              <ul>
                <li>YOU ARE EXTRAORDINARY</li>
                <li>YOU CAN BRING A CHANGE</li>
                <li>SAVE EARTH WITH US</li>
                <li>MAKE EVERYTHING ENVIRONMENT FRIENDLY</li>
                <li>WE PROMISE TO BE WITH YOU AT EVERY STEP</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
    </body>
  </body>
</html>
